<li id="post-<%=i._id%>">
    <div class="post-author-details">
    <div class="post-author-name">
        <small>
            <i class="fas fa-user fa-2x"></i>
            <%=i.user.name%>
        </small>
    </div>
    <div class="post-delete-button-container">
        <a class="delete-post-button" href="/posts/destroy/<%=i._id%>">
            <i class="far fa-window-close fa-2x"></i>
            </a>
    </div>
    </div>
    <div class="post-content">
        <p>
         <%=i.content%>
        </p> 
    </div>  
    <div class="likes-container"> 
         <!-- display the likes of this post, if the user is logged in, then show the link to toggle likes, else, just show the count -->
         <br>
        <small>
         <% if (locals.user){ %>
             <a class="toggle-like-button" data-likes="<%= i.likes.length %>" href="/likes/toggle/?id=<%=i._id%>&type=Post">
                <i class="far fa-thumbs-up fa-2x"></i> <%= i.likes.length %> Likes
             </a>
         <% }else{ %>
            <i class="far fa-thumbs-up fa-2x"></i> <%= i.likes.length %> Likes
         <% } %>
     </small>
    </div>
    <!-- post comment form -->
    <div class ="post-comments">
        <h3 style="color: rgb(21, 99, 214);">Comments</h3>
        <% if(locals.user){ %> 
           <div class="form-container">
            <form id="post-<%=i._id%>-comments-form" action="/comments/create" method="post">
               <input type="text" name="content" placeholder="Leave your comments...">
               <input type="hidden" name="post" value="<%= i._id %>" >
                <input type="submit" value="Post your Comment">
            </form>
           </div>
        <%}%>
    </div>
    <div id="comments-container">
        <ul id="post-comments-<%= i._id %>">
        <% for(comment of i.comments){%>
            <%- include('_comments.ejs') %>
        <%}%>
        </ul>
    </div>
</li>